In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
% matplotlib inline
%load_ext giphy_magic

The giphy_magic extension is already loaded. To reload it, use:
  %reload_ext giphy_magic

In [7]:
df = pd.read_csv('Dogs of NYC - WNYC.csv')

In [8]:
df.head()

,dog_name,gender,breed,birth,dominant_color,secondary_color,third_color,spayed_or_neutered,guard_or_trained,borough,zip_code
0,Buddy,M,Afghan Hound,Jan-00,BRINDLE,BLACK,n/a,Yes,No,Manhattan,10003
1,Nicole,F,Afghan Hound,Jul-00,BLACK,n/a,n/a,Yes,No,Manhattan,10021
2,Abby,F,Afghan Hound,Nov-00,BLACK,TAN,n/a,Yes,No,Manhattan,10034
3,Chloe,F,Afghan Hound,Jan-02,WHITE,BLOND,n/a,Yes,No,Manhattan,10024
4,Jazzle,F,Afghan Hound,Oct-02,BLOND,WHITE,BLACK,Yes,No,Manhattan,10022

In [10]:
print(df.dog_name.value_counts()[:10])

n/a         4025
Max          999
Bella        769
Lucky        710
Rocky        685
Coco         661
Buddy        599
Charlie      577
Princess     575
Lola         551
Name: dog_name, dtype: int64

In [ ]:
df.dog_name = df.dog_name.str.lower()

In [ ]:
df.dog_name.value_counts()
df.dog_name.nunique()

In [ ]:
df.groupby('guard_or_trained').breed.value_counts()

In [ ]:
pd.crosstab(df.breed,df.guard_or_trained).sort_values('Yes', ascending=False)

In [ ]:
df.groupby('guard_or_trained').borough.value_counts()

In [ ]:
df.groupby('spayed_or_neutered').gender.value_counts().plot(kind='area')